// Dark theme overrides
$AU-colordark-foreground-text:   #ffffff;
$AU-colordark-foreground-action: #61DAFF;
$AU-colordark-foreground-focus:  #13e241;
$AU-colordark-background:        #31312E;

//rgba(4,107,153,.99);

// #31312E;

// Dark theme overrides default
// $AU-colordark-foreground-text:   !default;
// $AU-colordark-foreground-action: !default;
// $AU-colordark-foreground-focus:  !default;
// $AU-colordark-background:        !default;

// // Default values - can be overridden with your own colours
// $AU-color-foreground-action:     #00698f !default;
// $AU-color-foreground-focus:      #9263DE !default;
// $AU-color-foreground-text:       #313131 !default;
// $AU-color-background:            #ffffff !default;

// Light theme overrides
// $AU-color-foreground-action: #134169;
// $AU-color-foreground-focus:  #0C8927;

//Main nav, set project specific breakpoint
$AU-main-nav-breakpoint: sm;

// UI-Kit
@import './_auds.scss';


// Reset the body
body {
	padding: 0;
	margin: 0;
}

// Add shadow to images
.au-responsive-media-img .banner__image{
	box-shadow: 5px 5px;

}

// Look into website for comments below https://www.w3schools.com/howto/howto_css_blurred_background.asp

// Make background transparent
// .au-body--background{
// 	background-image: url('https://www.gitpod.io/static/04a67274312aeedce08b6b7a46e0046a/d3340/screenshot.png');
// 	background-repeat: no-repeat; 
// 	background-attachment: fixed; 
// 	background-size: cover; 
// 	height: 100%;   
// 	filter: blur(2px);   
// 	-webkit-filter: blur(2px);
// }

// Make text opaque
// .col-xs-12--text{
// 	background-color: rgb(0,0,0); /* Fallback color */
// 	background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
// 	color: white;
// 	font-weight: bold;
// 	border: 3px solid #f1f1f1;
// 	position: absolute;
// 	top: 0%;
// 	left: 50%;
// 	transform: translate(-50%, -50%);
// 	z-index: 2;
// 	width: 80%;
// 	padding: 20px;
// 	text-align: center;
// 	filter: blur(0px);
// }


// Increase the spacing for au-body elements inside main
main > .au-body {
	@include AU-space( padding, 2unit 0 );

}

main > .banner {

	@include AU-media( sm ) {
		@include AU-space( padding, 4unit 0 );
	}
}


// Slight grid changes for container fluid
.au-grid .container-fluid {
	@include AU-space( max-width, 80unit );

	@include AU-media( sm ){
		@include AU-space( padding-left, 2unit );
		@include AU-space( padding-right, 2unit );
	}
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
	@include AU-space( padding-right, 1unit );
}

// The call to actions on the home page
.btn-cta-group {
	@include AU-space( margin-top, 1unit );

	.au-btn {
		@include AU-space( margin-top, 1unit );
	}
}

// Mobile side nav spacing
.au-side-nav {
	@include AU-space( margin-bottom, 2unit );

	@include AU-media( sm ){
		margin-bottom: 0;
	}
}

form {
	@include AU-space( margin-top, 2unit );
}

.hide_content {
	display: none;
}

//increase the space between form groups
.au-form-group + .au-form-group {
	@include AU-space( 'margin-top', 2unit)
}

.articles-cta {
	@include AU-space( 'margin-top', 0.25unit );
	text-align: right;

	@include AU-media( md ) {
		@include AU-space( 'margin-top', 1unit );
	}
}


.au-header .au-search {

	width: 100%;
	@include AU-media( xs ) {
		width: 75%;
	}
	@include AU-media( sm ) {
		width: 100%;
	}
}
